{% extends 'base.html' %}

{% block content %} 

<h1>Welcome home</h1>
<hr>
<br>
<!--
<div class="w3-display-middle w3-margin-top w3-center">
    <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>R</b></span> <span class="w3-hide-small w3-text-light-grey">minders</span></h1>
  </div>
-->
<h2>Reminders</h2>
<br>
<p><b>Reminders</b> is just like a note book where you can store all of your events or apointement that you 
    don't wont to forget and in reminders we help you to remember all by keep remeber you in text
     message that the date you entered in right in the corner so that we remeber you before youe 
     date so that you can prepare your thing and orginaze every thing before it.</p>

<br>



<!-- about us Section -->
<div class="w3-container w3-padding-64" id="about us">
    <h2>About us</h2><br>
    <p>Our idea is to make our clients orginaze thier dates and thier appointment by creating a remind
      in our reminders cite so that we keep you informed by every thing you entered in our reminders using
      a text message to remembering you that the date is right in the corner, and if you entered
      your partener name or e,mail we will aslo try to send hem the same message in the same time . 
    </p>
        
<!-- 
  <p class="w3-text-blue-grey w3-large"><b>Catering Service, 42nd Living St, 43043 New York, NY</b></p>
--> 
  </div>
  <br>


<!-- our guid Section -->
<div class="w3-container w3-padding-64" id="our guid">
    <h2>Our guid</h2>
    <br>
    <p>We offer full-service to keep you inform of your planning or dates, large or small. We understand your needs and we will try to provide the possibility to satisfy your needs to keep your information safe, Do not hesitate to create your account.</p>
    <p class="w3-text-blue-grey w3-large"><b>our entire services for our precious clients :</b></p>
    <ul>
        <li>You can put the information that you dont want to be khonw by any bady .</li>
        <li>We keep regularly lethin you now about the event you entered before .</li>
        <li>By your approval we can send a message to inform another persons about that event .</li>
        <li>Our services is completely easy, Any persons can write he's reminders .</li>
      </ul>
      <br>
      <br>

  </div>

  
<!-- End page content -->

{% endblock content %}



   