{% extends 'base.html' %}
{% block content %} 
<div class="container">
    <h1>Register</h1>
    <br>
    <p class="form groupe">we are very pleased that you're goin to jion our comunity</p>
    <form action="" method="POST">
        <div class="form groupe">
            <input type="text" name="name" class="form-control" placeholder="name" required>
        </div>
        <br>
        <div class="form groupe">
            <input type="text" name="username" class="form-control" placeholder="username" required>
        </div>
        <br>
        <div class="form groupe">
            <input type="password" name="password" class="form-control" placeholder="password" required>
        </div>
        <br>
        <div class="form groupe">
            <input type="password" name="confirm" class="form-control" placeholder="confirm password" required>
        </div>
        <br>
        <button class="btn btn-primary" type="submit">submit</button>
        <br>
        <br>
        <br>


    </form>
</div>


{% endblock content %}